{
  "printWidth": 120,
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.{css,scss}",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
